* { box-sizing: border-box }
html, body, div, iframe, h1, h2, h3, h4, h5, h6, p, pre,
img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, figure, figcaption, footer, header,  
main, menu, nav, section, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body { line-height: 1 }
ul, menu { list-style: none }
table { border-collapse: collapse }
a { 
	text-decoration: none; 
	color: inherit;
}
.mobil-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}
nav h1{
    color: #81c408;
    font: bold 2em Arial;
    line-height: 1.2;
}
.mobil-menu i {
    color: #81c408;
    font-size: 1.5em;
    line-height: 1.2;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding: 8px 28px 8px 8px ;
}
.mobil-menu i:active{
    border: 3px solid rgba(0, 0, 0, 0.466);
}
.menubar{
    background: white;
    position: absolute;
    left: -100%;
    transition: .3s ease-in-out;
}
.menubar ul li {
    padding: 15px 20px;
}
.menubar ul li a{
    font: 1em Arial;
    color: rgba(0, 0, 0, .55);
}
#active{color: #81c408;}
.icons a{
    padding: 20px 20px;
    font-size: 30px;
    color: #81c408;
}
.menu-container{display: none;}
.mobile-main{
    background: url('../img/bg.jpg') center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.mobile-main h5{
    font: 1.3em Arial;
    color: #ffb524;
    font-weight: 600;
    line-height: 1.2;
    margin-top: 100px;
}
.mobile-main h1{
    font: 2.2em Arial;
    color: #81c408;
    font-weight: 800;
    line-height: 1.2;
    width: 400px;
    margin: 20px 0 40px 0;
}
.m-main{text-align: left;}
.search{position: relative;}
.search input{
    border: 3px solid #ffb524;
    border-right: 0px;
    padding: 10px 10px 10px 20px ;
    border-radius: 30px;
    font-size: 1.1em;
}
.search button{
    position: absolute;
    border: 3px solid #ffb524;
    background: #81c408;
    padding: 10px 10px 10px 20px ;
    border-radius: 30px;
    font: 1.1em Arial;
    color: white;
    left: 170px;
}
.m-slider{margin-bottom: 100px;}
.pc-main{display: none;}
.smal-icons {
    background: url(../img/ss.png) center/cover;
    width: 120px;
    padding: 38px 10px 40px 10px;
    margin: auto;
    margin-top: 20px;
}
.smal-icons i {
    color: white;
    font-size: 60px;
}
.card{
    text-align: center;
    background:  #f4f6f8;
    border: none;
    margin: 40px;
    padding-bottom: 30px;
}
.card h1{
    font: 1.25rem Arial;
    color: #45595b;
    line-height: 1.2;
    padding: 20px 0 10px 0;
}
.card p {
    font: 1em Arial;
    color: #747d88;
}
@media only screen and (min-width: 1200px){
nav{display: none;}
.container{padding: 0 40px;}
.menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.logo h1{
    color: #81c408;
    font: bold 3em Arial;
    line-height: 1.2;
}
.list a {
    font: 1.3em Arial;
    color: rgba(0, 0, 0, .55);
    padding: 20px;
    text-decoration: none; 
}
.iconsPc a{
    padding: 20px 20px;
    font-size: 25px;
    color: #81c408;
}
.mobile-main{
    display: none;
}
.pc-main{
    background: url('../img/bg.jpg') center/cover;
    display: block;
}
.pc-main h5{
    font: 1.5em Arial;
    color: #ffb524;
    font-weight: 600;
    line-height: 1.2;
}
.pc-main h1{
    font: 3em Arial;
    color: #81c408;
    font-weight: 800;
    line-height: 1.2;
    width: 450px;
    margin: 30px 0 60px 0;
}
.p-main{text-align: left;}
.p-search{position: relative;}
.p-search input{
    border: 3px solid #ffb524;
    border-right: 0px;
    padding: 15px 15px 15px 30px ;
    border-radius: 30px;
    font-size: 1.3em;
}
.p-search button{
    position: absolute;
    border: 3px solid #ffb524;
    background: #81c408;
    padding: 15px 15px 15px 30px ;
    border-radius: 30px;
    font: 1.3em Arial;
    color: white;
    left: 200px;
}
.p-slider{
    width: 460px;
    margin-top: 60px;
    padding-left: 60px;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{padding: 50px;}
}